---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="RnD" description="Research and Development">
  <div class="text-lg flex justify-center items-center w-full h-20">
    <p class="text-gray-600 dark:text-neutral-400">
      This page is under construction. Please check back later for updates.
    </p>
  </div>
</Layout>
