---
import Layout from "../../layouts/Layout.astro";
import { experiences } from "../../data/data";
import WorkDetail from "../../components/ui/WorkDetail.astro";
---

<Layout title="Experiences" description="My Experiences">
  <h1 class="mb-5 font-bold text-lg text-gray-800 dark:text-neutral-200">
    My Experiences
  </h1>
  <section class="space-y-8">
    {experiences.map((item) => <WorkDetail {...item} />)}
  </section>
</Layout>
