---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <section class="w-full h-80 flex justify-center items-center flex-col gap-3">
    <h1 class="text-4xl font-bold text-neutral-800 dark:text-neutral-200">
      404
    </h1>
    <p class="text-sm text-neutral-800 dark:text-neutral-200">
      The page you are looking for does not exist.
    </p>
    <button
      onclick="window.history.back()"
      class="underline text-sm text-neutral-800 dark:text-neutral-200 cursor-pointer"
      >Back</button
    >
  </section>
</Layout>
