---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404 Not Found">
  <section class="h-40 w-full flex justify-center items-center flex-col gap-3">
    <h1 class="text-2xl font-bold text-neutral-800 dark:text-neutral-200">
      404 Not Found
    </h1>
    <a href="/" class="underline text-sm text-neutral-800 dark:text-neutral-200"
      >Back Home</a
    >
  </section>
</Layout>
