---
import { educations } from "../data/data";
import EducationDetail from "./ui/EducationDetail.astro";
---

<section class="mt-10 sm:mt-14">
  <h2 class="mb-3 font-medium text-gray-800 dark:text-neutral-200">
    Educations
  </h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
    {educations.map((item) => <EducationDetail {...item} />)}
  </div>
</section>
