---
const { pathname } = Astro.url;

const links = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "/projects" },
  { name: "Experiences", href: "/experiences" },
  { name: "RnD", href: "/rnd" },
];
---

<header
  class="sticky top-0 inset-x-0 flex flex-wrap md:justify-start md:flex-nowrap z-50 w-full text-sm"
>
  <nav
    class="mt-4 relative max-w-2xl sm:mx-auto w-full bg-white border border-gray-200 rounded mx-2 py-2.5 md:flex md:items-center md:justify-between md:py-0 md:px-4 md:mx-auto dark:bg-neutral-900 dark:border-neutral-700"
  >
    <div class="px-4 md:px-0 flex justify-between items-center">
      <a
        class="flex-none rounded-md text-xl inline-block font-bold focus:outline-hidden focus:opacity-80 text-neutral-900 dark:text-neutral-200"
        href="/"
        aria-label="Dimas Gilang Dwi Aji"
      >
        dimasgda
      </a>

      <div class="md:hidden">
        <button
          id="toggleNavbarCollapse"
          type="button"
          aria-label="Toggle navigation"
          class="flex justify-center items-center size-7 text-gray-500 rounded-sm hover:bg-gray-200 focus:outline-hidden focus:bg-gray-200 dark:border-neutral-700 dark:text-neutral-400 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700 cursor-pointer"
        >
          <svg
            class="shrink-0 size-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <line x1="3" x2="21" y1="6" y2="6"></line>
            <line x1="3" x2="21" y1="12" y2="12"></line>
            <line x1="3" x2="21" y1="18" y2="18"></line>
          </svg>
        </button>
      </div>
    </div>

    <div
      class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow md:block"
      aria-labelledby="hs-navbar-header-floating-collapse"
    >
      <div
        class="flex flex-col md:flex-row md:items-center md:justify-end gap-2 md:gap-3 mt-3 md:mt-0 py-2 md:py-0 md:ps-7"
      >
        {
          links.map((link) => {
            const { name, href } = link;
            const isActive = href === `/${pathname.split("/")[1]}`;
            const linkClass = isActive
              ? "border-gray-800 font-medium text-gray-800 dark:border-neutral-200 dark:text-neutral-200"
              : "border-transparent text-neutral-500 hover:text-gray-800 dark:hover:text-neutral-200";
            return (
              <a
                class={`py-0.5 md:py-3 px-4 md:px-1 border-s-2 md:border-s-0 md:border-b-2 ${linkClass} focus:outline-hidden`}
                href={href}
              >
                {name}
              </a>
            );
          })
        }
      </div>
    </div>
  </nav>
</header>
