---
import { Image } from "astro:assets";
import me from "../assets/me.jpg";
---

<section class="flex items-center gap-x-3">
  <div class="shrink-0 size-16 rounded-full overflow-hidden">
    <Image
      src={me}
      alt="Dimas's profile"
      class="object-center object-cover"
      loading="eager"
    />
  </div>
  <div class="grow">
    <h1 class="text-lg font-medium text-gray-800 dark:text-neutral-200">
      Dimas Gilang Dwi Aji
    </h1>
    <p class="text-sm text-gray-600 dark:text-neutral-400">
      Web Developer | Freelancer | Tech Enthusiast
    </p>
  </div>
</section>
