---
import ProjectCard from "./ui/ProjectCard.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";

const allProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).sort(
  (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
    b.data.year.valueOf() - a.data.year.valueOf()
);

const projects = allProjects.slice(0, 3).map((item) => {
  return {
    name: item.data.title,
    image: item.data.image,
    link: `/projects/${item.slug}`,
  };
});
---

<section class="mt-10 sm:mt-14">
  <h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Projects</h2>
  <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
    {projects.map((item) => <ProjectCard {...item} />)}
  </div>
</section>
