---
import SkillDetail from "./ui/SkillDetail.astro";
import { skills } from "../data/data";
---

<section class="my-10 sm:mt-14">
  <h2 class="mb-5 font-medium text-gray-800 dark:text-neutral-200">Skills</h2>
  <div class="space-y-3">
    {skills.map((item) => <SkillDetail {...item} />)}
  </div>
</section>
