---
import TestimoniCard from "./ui/TestimoniCard.astro";
import { testimonials } from "../data/data";
---

<section class="mt-10 sm:mt-14">
  <h2 class="mb-3 font-medium text-neutral-800 dark:text-neutral-200">
    Testimonials
  </h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 gap-x-3 border-y border-gray-200 divide-y sm:divide-y-0 sm:divide-x divide-gray-200 dark:border-neutral-700 dark:divide-neutral-700"
  >
    {
      testimonials.map((item, index) => (
        <TestimoniCard isStart={index === 0} {...item} />
      ))
    }
  </div>
</section>
