---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths() {
  const allProject: CollectionEntry<"projects">[] =
    await getCollection("projects");
  return allProject.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}
const { project } = Astro.props;
import Content from "../../content/projects/jdih-dprd-kota-kediri.md";
---

<Layout
  title={`${project.data.title} - Projects`}
  description={project.data.description}
>
  <h1 class="mb-5 font-bold text-lg text-gray-800 dark:text-neutral-200">
    {project.data.title}
  </h1>
  <section class="space-y-6" id="content">
    <Content />
  </section>
  <a
    href="/projects"
    class="text-sm text-gray-500 underline hover:text-gray-800 hover:decoration-2 focus:outline-hidden focus:decoration-2 dark:text-neutral-500 dark:hover:text-neutral-400 block mt-10"
  >
    See all Projects
  </a>
</Layout>
