---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import ProjectList from "../../components/ProjectList.astro";

const allProjects: CollectionEntry<"projects">[] = (
  await getCollection("projects")
).sort(
  (a: CollectionEntry<"projects">, b: CollectionEntry<"projects">) =>
    b.data.year.valueOf() - a.data.year.valueOf()
);
---

<Layout title="Projects" description="My Freelance Projects">
  <h1 class="mb-5 font-bold text-lg text-gray-800 dark:text-neutral-200">
    My Projects
  </h1>
  <section class="space-y-8">
    {
      allProjects.map((project) => (
        <ProjectList
          year={project.data.year}
          title={project.data.title}
          description={project.data.description}
          slug={project.slug}
        />
      ))
    }
  </section>
</Layout>
